fastapi==0.104.1
uvicorn[standard]==0.24.0
gunicorn==21.2.0
python-multipart==0.0.6
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
werkzeug==3.0.1
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
google-api-python-client==2.114.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
msgpack==1.0.7
stripe
pytest
binance-historical-data==0.1.14
yfinance==0.2.55
psutil==6.1.0
numpy==1.26.4
redis==5.0.8
fakeredis==2.23.3
PyJWT==2.10.1
sentry-sdk==2.63.0